@media (max-width: 678px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: -100%;
    transition: all 0.5s;
    justify-content: center;
    background: white;
    display: flex;
    flex-direction: column;
    transition: 0.9s;
  }
  header {
    height: 70px;
    background: white;
    justify-content: space-around;
    width: 100%;
    padding: 0 0;
    transition: 1s;
  }
  header nav ul li {
    margin-bottom: 30px;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  label div {
    display: flex;
  }
  main p {
    width: auto;
  }
  .box {
    width: auto;
    margin: 10px;
  }
  .box ul {
    width: auto;
  }
  .box ul li p {
    align-items: left;
    margin: 0 10px;
    text-align: left;
  }
  .box ul li p .i {
    align-items: right;
    margin: 0 10px;
    text-align: right;
  }
  .text {
    margin-left: 10px;
  }
  .text .box h4 {
    width: 200px;
    display: inline-block;
    padding: 10px 100%;
  }
  .cd img {
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
  }
}
